@font-face {
    font-family: "Cutepunk";
    src: url(fonts/CutepunkRegular.otf);
}

body {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

h1 {
    font-size: 100px;
    font-family: "Cutepunk";
    color: white;
    text-shadow: 2px 2px black;
}

.quotes {
    margin: 40px;
    padding: 20px;
}

#quote {
    padding: 15px;
    border-radius: 15px 50px 30px;
    font-family: monospace;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.57);
}

#author {
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
    text-align: right;
}
.btn {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 20px;
}
